<!DOCTYPE HTML>
<html ng-app='app'>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="./js/lib.js" type="text/javascript" charset="utf-8"></script>
        <script src="./js/app.js" type="text/javascript" charset="utf-8"></script>

        <title></title>

    </head>
    <body>
        <div ng-controller="HBCtrl">

            <div class="simple-line" items="hoekBrown" items2="mohrCoulomb"></div>

            <label>&sigma;ci: </label>
            <input type="number" ng-model="params.sci" min=1 max=300 required/>
            <label>mi: </label>
            <input type="number" ng-model="params.mi" min=1 max=50 required/>
            <label>GSI: </label>
            <input type="number" ng-model="params.gsi" min=1 max=100 required/>
            <label>D: </label>
            <input type="number" ng-model="params.d" min=0 max=1 step="0.1" required/>
            <label>&sigma;3max: </label>
            <input type="number" ng-model="params.s3max" min=0 max=100 step="0.1" required/>
            <label>a: </label>
            <input type="number" ng-model="params.a" min=0 max=1000 readonly/>
            <label>s: </label>
            <input type="number" ng-model="params.s" min=0 max=1000 readonly/>
            <label>mb: </label>
            <input type="number" ng-model="params.mb" min=0 max=1000 readonly/>
            <label>C </label>
            <input type="number" ng-model="cohesion" min=0 max=1000 readonly/>
            <label>Phi: </label>
            <input type="number" ng-model="friction" min=0 max=1000 readonly/>
        </div>
    </body>
</html>
